@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
  --gif-color: #38b6ff;
  --sticker-color: #ac38ff;
}

body {
  background-color: #212121;
  margin: 0;
  height: 100vh;
  color: white;
  font-family: 'Concert One';
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px;
}

.hero {
  width: 50%;
  align-self: end;
  justify-self: center;
  display: flex;
  align-items: end;
  justify-content: center;
}
.hero img {
  max-width: 75%;
}
.search {
  width: 50%;
  align-self:start;
  justify-self: center;
}
.search-bar {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
}
.search-bar img {
  align-self: center;
  justify-self: center;
  height: 40px;
}
.search-bar input {
  width: 90%;
  height: 50px;
  font-size: 2rem;
  border: none;
  outline: none;
  border-radius: 10px;
  font-family: 'Concert One', cursive;
}
.button-array{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 30px;
}

button {
  height: 40px;
  width: 140px;
}


button {
  background-color: var(--gif-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}
.button-search:hover {
  background-color: white;
  color: #212121;
  cursor: pointer;
}

button:active {
  box-shadow: inset 0 0 5px 0 #212121;
}

.mode {
  color: #212121;
  background-color: white;
  border: 5px solid var(--gif-color);
  cursor: pointer;
}